/* .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }

  .steps-action {
    margin-top: 24px;
  }

  button {
    margin-right: 8px;
  } */

.guide {
    background: url(../../../assets/images/guide-bg.jpg);
    height: 714px;
    overflow: hidden;
    position: relative;
    z-index: 100;

    [nz-carousel-content] {
        height: 714px;
        padding: 120px 0 108px;
        overflow: hidden;
    }

    .carousel {
        height: 714px;
    }

    &__title {
        font-size: 62px;
        font-family: Manrope;
        font-weight: 800;
        line-height: 70px;
        color: #fff;

        span {
            color: #0071E3;
        }
    }

    &__description {
        font-size: 24px;
        line-height: 24px;
        color: #8B8B90;
        font-family: Manrope;
        font-weight: 500;
    }

    &__btn {
        font-size: 20px;
        font-family: Manrope;
        font-weight: 500;
        padding: 20px 40px;
        border-radius: 8px;
        background: #0071E3;
        color: #fff;
        border: none;
        transition: 0.3s;
        
        &:hover {
            background: lighten(#0071E3, 10%);
        }

        &:active {
            background: darken(#0071E3, 10%);
        }
    }




}