.about {
    margin-top: 160px;
    margin-bottom: 150px;
    padding: 94px 0 124px;
    position: relative;
    z-index: 100;

    &__block {
        position: relative;
        z-index: 100;
    }

    &__title {
        font-size: 64px;
        font-family: Manrope;
        font-weight: 800;
        color: #1D1D1F;

        span {
            color: #0370E2;
        }
    }

    &__subtitle {
        color: #1D1D1F;
        font-family: Manrope;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    &__text {
        color: #8B8B90;
        font-size: 18px;
        line-height: 24px;
        font-family: Manrope;
        font-weight: 600;
    }

    .elipse {
        position: absolute;
        top: 0;
        left: 0;
    }
}