<!-- <div class="about">
  <div class="container about__block">
    <div nz-row>
      <div nz-col nzSpan="12"></div>
      <div nz-col nzSpan="12">
        <h2 nz-typography class="about__title"><span>Как DataSignal</span> приносит доход?</h2>
        <p nz-typography class="about__subtitle">
          С помощью современных технологий анализа наши специалисты с точностью
          прогнозируют рост и падение курса Bitcoin и других криптовалют
        </p>
        <p nz-typography class="about__text">
          Посредством точных и достоверных сигналов они доносят эту информацию
          до пользователя и помогают своевременно приобрести или продать ту или
          иную криптовалюту
        </p>
        <p nz-typography class="about__text">
          Именно за счет этой разницы и формируются доходы наших пользователей
        </p>
        <p nz-typography class="about__text">
          Стабилный доход и максимальная прибыль – вот основный принципы команды
          DataSingal
        </p>
      </div>
    </div>
  </div>
  <div class="elipse">
    <app-ellipse width="780" height="780" widthBg="780px" heightBg="780px"></app-ellipse>
  </div>
</div> -->

<div class="about">
  <div nz-row>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
    <div nz-col nzXs="22" nzSm="22" nzMd="20" nzLg="18" nzXl="18">
      <div class="about__block">
        <div nz-row>
          <div nz-col nzXs="24" nzLg="12"></div>
          <div nz-col nzXs="24" nzLg="12">
            <div nz-row nzJustify="center">
              <div nz-col nzXs="18" nzLg="24">
                <h2 nz-typography class="about__title"><span>Как DataSignal</span> приносит доход?</h2>
            <p nz-typography class="about__text">
              С помощью современных технологий анализа наши специалисты с точностью
              прогнозируют рост и падение курса Bitcoin и других криптовалют
            </p>
            <p nz-typography class="about__text">
              Посредством точных и достоверных сигналов они доносят эту информацию
              до пользователя и помогают своевременно приобрести или продать ту или
              иную криптовалюту
            </p>
            <p nz-typography class="about__text">
              Именно за счет этой разницы и формируются доходы наших пользователей
            </p>
            <p nz-typography class="about__text">
              Стабилный доход и максимальная прибыль – вот основный принципы команды
              DataSingal
            </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
  </div>
  <div class="elipse">
    <app-ellipse [about]="true"></app-ellipse>
  </div>
</div>
