<!-- <div class="charts-block">
    <div class="container">
        <div class="charts">
            <div nz-row [nzGutter]="[30, 30]">
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                    <div class="charts__block">1</div>
                </div>
                <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                    <div class="charts__block">1</div>
                </div>
                <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                    <div class="charts__block">1</div>
                </div>
                <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                    <div class="charts__block">1</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ellipse">
        <app-ellipse [banner]="true"></app-ellipse>
    </div>
</div> -->



<div class="charts-block">
    <div nz-row>
        <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
        <div nz-col nzXs="22" nzSm="22" nzMd="20" nzLg="18" nzXl="18">
            <div class="charts">
                <div nz-row [nzGutter]="[30, 30]">
                    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="6">
                        <div class="charts__block">1</div>
                    </div>
                    <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="12" nzXl="6">
                        <div class="charts__block">1</div>
                    </div>
                    <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="12" nzXl="6">
                        <div class="charts__block">1</div>
                    </div>
                    <div nz-col nzXs="0" nzSm="12" nzMd="12" nzLg="12" nzXl="6">
                        <div class="charts__block">1</div>
                    </div>
                </div>
            </div>
            <div class="ellipse">
                <app-ellipse [banner]="true"></app-ellipse>
            </div>
        </div>
        <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
    </div>
    
</div>