<div class="charts-block">
  <div nz-row>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
    <div nz-col nzXs="22" nzSm="22" nzMd="20" nzLg="18" nzXl="18">
      <div nz-row>
        <div nz-col nzXs="0" nzSm="24">
          <div class="charts">
            <div nz-row [nzGutter]="[30, 30]">
              <div
                nz-col
                nzXs="24"
                nzSm="12"
                nzMd="12"
                nzLg="12"
                nzXl="6"
                *ngFor="let info of cryptoInfo"
              >
                <div class="charts__block">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <div nz-row nzAlign="middle">
                        <div nz-col nzSpan="6">
                          <img [src]="info.logo" alt="crypto" />
                        </div>
                        <div nz-col nzSpan="5" class="charts__name">
                          {{ info.symbol }}
                        </div>
                        <div nz-col nzSpan="6">
                          <nz-tag>{{ info.tag }}</nz-tag>
                        </div>
                        <div nz-col nzSpan="7" class="text-end">
                          <button nz-button nzType="link">
                            <i
                              nz-icon
                              nzType="arrow-up"
                              nzTheme="outline"
                              style="transform: rotate(45deg); color: #b6b6b6"
                            ></i>
                          </button>
                        </div>
                      </div>
                      <nz-divider style="margin: 17px 0"></nz-divider>
                    </div>
                    <div nz-col nzSpan="24">
                      <div nz-row>
                        <div nz-col nzSpan="12">
                          <div nz-row>
                            <div nz-col nzSpan="24">
                              <h3 class="charts__title">
                                ${{ info.price | number: "1.2" }}
                              </h3>
                            </div>
                            <div nz-col nzSpan="24">
                              <span class="charts__subtitle">1.41%</span>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="12">
                          <div class="charts__diagramm">
                            <img
                              src="./assets/images/chart.png"
                              alt="chart"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ellipse">
            <app-ellipse [banner]="true"></app-ellipse>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="0" >
            <div class="carousel">
                <nz-carousel [nzEffect]="'scrollx'" style="position: relative; z-index: 1000;">
                    <div nz-carousel-content *ngFor="let info of cryptoInfo">
                        <div class="charts">
                            <div nz-row [nzGutter]="[20, 0]">
                              <div
                                nz-col
                                nzXs="24"
                              >
                                <div class="charts__block">
                                  <div nz-row>
                                    <div nz-col nzSpan="24">
                                      <div nz-row nzAlign="middle">
                                        <div nz-col nzSpan="5">
                                          <img [src]="info.logo" alt="crypto" />
                                        </div>
                                        <div nz-col nzSpan="4" class="charts__name">
                                          {{ info.symbol }}
                                        </div>
                                        <div nz-col nzSpan="6">
                                          <nz-tag>{{ info.tag }}</nz-tag>
                                        </div>
                                        <div nz-col nzSpan="9" class="text-end">
                                          <button nz-button nzType="link">
                                            <i
                                              nz-icon
                                              nzType="arrow-up"
                                              nzTheme="outline"
                                              style="transform: rotate(45deg); color: #b6b6b6"
                                            ></i>
                                          </button>
                                        </div>
                                      </div>
                                      <nz-divider style="margin: 17px 0"></nz-divider>
                                    </div>
                                    <div nz-col nzSpan="24">
                                      <div nz-row>
                                        <div nz-col nzSpan="12">
                                          <div nz-row>
                                            <div nz-col nzSpan="24">
                                              <h3 class="charts__title">
                                                ${{ info.price | number: "1.2" }}
                                              </h3>
                                            </div>
                                            <div nz-col nzSpan="24">
                                              <span class="charts__subtitle">1.41%</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div nz-col nzSpan="12">
                                          <div class="charts__diagramm">
                                            <img
                                              src="../../../assets/images/chart.png"
                                              alt="chart"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </nz-carousel>
            </div>
              <div class="ellipse">
                <app-ellipse [banner]="true"></app-ellipse>
              </div>
        </div>
      </div>
    </div>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
  </div>
</div>
