.charts {
    margin-top: 250px;
    margin-bottom: 80px;
    position: relative;
    z-index: 100;
    &__block {
        border-radius: 8px;
        background: #fff;
        height: 190px;
        border: 1px solid #000;
    }
}