<div class="container">
    <div class="charts">
        <div nz-row [nzGutter]="[30, 0]">
            <div nz-col nzSpan="6">
                <div class="charts__block">1</div>
            </div>
            <div nz-col nzSpan="6">
                <div class="charts__block">1</div>
            </div>
            <div nz-col nzSpan="6">
                <div class="charts__block">1</div>
            </div>
            <div nz-col nzSpan="6">
                <div class="charts__block">1</div>
            </div>
        </div>
    </div>
</div>
