<nz-layout class="h-100" nz-row>
  <nz-sider
    class="sider"
    nz-col
    nzCollapsible
    [(nzCollapsed)]="!isCollapsed"
    [nzCollapsedWidth]="0"
    nzWidth="100%"
    [nzTrigger]="null"
  >
    <div nz-row class="sider-top" nzAlign="middle" nzJustify="end">
      <div nz-col>
        <div nz-row nzAlign="middle" nzJustify="space-between">
          <div nz-col class="nav-icons">
            <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.9224 1.1001L13.0909 1.1001C15.8424 1.1001 17.4598 1.62799 18.4207 2.58778C19.3816 3.54757 19.9114 5.16425 19.9147 7.91579L19.9207 13.0844C19.924 15.8359 19.398 17.4526 18.4393 18.4124C17.4806 19.3722 15.8645 19.9001 13.113 19.9001H7.94451C5.19297 19.9001 3.57565 19.3722 2.61471 18.4124C1.65378 17.4526 1.12398 15.8359 1.12074 13.0844L1.11466 7.91579C1.11142 5.16425 1.63743 3.54757 2.5961 2.58778C3.55478 1.62799 5.17086 1.1001 7.9224 1.1001Z" stroke="white" stroke-width="2"/>
                        <path d="M15.9965 6.27707C16.6927 6.27707 17.2565 5.71263 17.2556 5.01646C17.2548 4.3203 16.6898 3.75586 15.9936 3.75586C15.2973 3.75586 14.7336 4.3203 14.7344 5.01646C14.7353 5.71263 15.3003 6.27707 15.9965 6.27707Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.16035 10.5632C5.15679 7.53768 7.54913 5.14249 10.5746 5.14249C13.474 5.14249 15.8719 7.53768 15.7494 10.5632C15.7528 13.4625 13.3605 15.8576 10.4611 15.8576C7.56173 15.8576 5.16376 13.4625 5.16035 10.5632ZM7.30338 10.5632C7.30546 12.3279 8.6939 13.8407 10.5848 13.8407C12.3497 13.8407 13.8606 12.3279 13.8585 10.5632C13.8565 8.79828 12.468 7.28546 10.5771 7.28546C8.81225 7.28546 7.30116 8.67225 7.30338 10.5632Z" fill="white"/>
                        </svg>
                        
                    </i>
            </button>
          </div>
          <div nz-col class="nav-icons">
            <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16389 8.88854C3.45804 7.69446 6.01892 6.69781 8.41168 5.69609C12.5282 4.05536 16.661 2.44306 20.8355 0.94203C21.6477 0.686285 23.1071 0.436211 23.2502 1.57357C23.1718 3.18355 22.8495 4.7841 22.6284 6.38465C22.0672 9.90441 21.4186 13.4121 20.7861 16.9203C20.5682 18.0889 19.0191 18.6938 18.0278 17.946C15.6457 16.4255 13.2453 14.9198 10.8936 13.364C10.1232 12.6244 10.8376 11.5621 11.5256 11.0339C13.4875 9.20681 15.5683 7.65448 17.4277 5.73295C17.9293 4.58842 16.4473 5.55299 15.9584 5.84856C13.2725 7.59763 10.6522 9.45348 7.82035 10.9907C6.37383 11.7431 4.68789 11.1001 3.24203 10.6802C1.94566 10.173 0.0459609 9.66203 1.16376 8.88869L1.16389 8.88854Z" fill="white"/>
                        </svg>                       
                    </i>
            </button>
          </div>
          <div nz-col class="nav-icons">
            <button
              nz-button
              nzType="default"
              nzGhost
              nzShape="circle"
              [nzSize]="size"
              class="icon-btn"
              (click)="changeLang()"
            >
            <span [ngSwitch]="currentLanguage">
              <div *ngSwitchCase="'uzb'">Узб</div>
              <div *ngSwitchCase="'en'">En</div>
              <div *ngSwitchDefault>Рус</div>
            </span>
            </button>
          </div>
        </div>
      </div>
      <div nz-col class="text-end" style="margin-left: 20px">
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          style="margin-right: 16px"
        >
          <i
            nz-icon
            nzType="close"
            nzTheme="outline"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </button>
      </div>
    </div>
    <nz-divider class="sider-divider"></nz-divider>
    <div nz-row [nzGutter]="[0, 40]">
      <div nz-col nzSpan="24">
        <a nz-button nzType="link" class="sider-logo">
          <svg
            width="29"
            height="40"
            viewBox="0 0 29 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.4286 20C11.4286 15.2661 15.2661 11.4286 20 11.4286V14.2857C16.8441 14.2857 14.2857 16.8441 14.2857 20H11.4286Z"
              fill="white"
            />
            <path
              d="M20 5.71429C12.1102 5.71428 5.71429 12.1102 5.71428 20H8.57143C8.57143 13.6882 13.6882 8.57143 20 8.57143V5.71429Z"
              fill="#0071E3"
            />
            <path
              d="M20 0C8.95431 -7.70685e-07 7.70685e-07 8.9543 0 20H2.85714C2.85714 10.5323 10.5323 2.85714 20 2.85714L20 0Z"
              fill="#0071E3"
            />
            <path
              d="M17.1408 20C17.1408 24.7339 13.3033 28.5714 8.56941 28.5714L8.56941 25.7143C11.7253 25.7143 14.2837 23.1559 14.2837 20L17.1408 20Z"
              fill="white"
            />
            <path
              d="M8.5694 34.2857C16.4592 34.2857 22.8551 27.8898 22.8551 20L19.998 20C19.998 26.3118 14.8812 31.4286 8.5694 31.4286L8.5694 34.2857Z"
              fill="#0071E3"
            />
            <path
              d="M8.5694 40C19.6151 40 28.5694 31.0457 28.5694 20L25.7123 20C25.7123 29.4677 18.0371 37.1429 8.5694 37.1429L8.5694 40Z"
              fill="#0071E3"
            />
          </svg>
          <span>DataSignal</span>
        </a>
      </div>
      <div nz-col nzSpan="24">
        <ul nz-row [nzGutter]="[0, 20]">
          <li nz-col class="sider__list">
            <a>{{'siderLink1' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink2' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink3' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink4' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink5' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink6' | translate}}</a>
          </li>
          <li nz-col class="sider__list">
            <a>{{'siderLink7' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <nav
        nz-row
        class="container nav"
        nzAlign="middle"
        nzJustify="space-between"
      >
        <div
          nz-col
          nzXs="20"
          nzSm="22"
          nzMd="13"
          nzLg="12"
          nzXl="10"
          nzXXl="9"
          class="logo"
        >
          <div nz-row>
            <div nz-col>
              <a nz-button nzType="link" class="logo-link">
                <svg
                  width="29"
                  height="40"
                  viewBox="0 0 29 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.4286 20C11.4286 15.2661 15.2661 11.4286 20 11.4286V14.2857C16.8441 14.2857 14.2857 16.8441 14.2857 20H11.4286Z"
                    fill="white"
                  />
                  <path
                    d="M20 5.71429C12.1102 5.71428 5.71429 12.1102 5.71428 20H8.57143C8.57143 13.6882 13.6882 8.57143 20 8.57143V5.71429Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M20 0C8.95431 -7.70685e-07 7.70685e-07 8.9543 0 20H2.85714C2.85714 10.5323 10.5323 2.85714 20 2.85714L20 0Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M17.1408 20C17.1408 24.7339 13.3033 28.5714 8.56941 28.5714L8.56941 25.7143C11.7253 25.7143 14.2837 23.1559 14.2837 20L17.1408 20Z"
                    fill="white"
                  />
                  <path
                    d="M8.5694 34.2857C16.4592 34.2857 22.8551 27.8898 22.8551 20L19.998 20C19.998 26.3118 14.8812 31.4286 8.5694 31.4286L8.5694 34.2857Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M8.5694 40C19.6151 40 28.5694 31.0457 28.5694 20L25.7123 20C25.7123 29.4677 18.0371 37.1429 8.5694 37.1429L8.5694 40Z"
                    fill="#0071E3"
                  />
                </svg>
                <span>DataSignal</span>
              </a>
            </div>
          </div>
        </div>
        <div
          nz-col
          nzXs="0"
          nzSm="0"
          nzMd="11"
          nzLg="10"
          nzXl="8"
          nzXXl="7"
          class="logo"
        >
          <div nz-row nzJustify="end">
            <!-- <div nz-col>
              <div nz-row nzAlign="middle" nzJustify="space-between">
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.8325 6.17463L8.10904 11.9592L1.59944 7.88767C0.66675 7.30414 0.860765 5.88744 1.91572 5.57893L17.3712 1.05277C18.3373 0.769629 19.2326 1.67283 18.9456 2.642L14.3731 18.0868C14.0598 19.1432 12.6512 19.332 12.0732 18.3953L8.10601 11.9602"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </i>
                  </button>
                </div>
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="Iconly/Light/Message">
                          <g id="Message">
                            <path
                              id="Stroke 1"
                              d="M17.9026 8.85107L13.4593 12.4641C12.6198 13.1301 11.4387 13.1301 10.5992 12.4641L6.11841 8.85107"
                              stroke="white"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              id="Stroke 3"
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z"
                              stroke="white"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </g>
                        </g>
                      </svg>
                    </i>
                  </button>
                </div>
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <span>Рус</span>
                  </button>
                </div>
              </div>
            </div> -->
            <div nz-col>
              <div nz-row nzAlign="middle" nzJustify="space-between">
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.9224 1.1001L13.0909 1.1001C15.8424 1.1001 17.4598 1.62799 18.4207 2.58778C19.3816 3.54757 19.9114 5.16425 19.9147 7.91579L19.9207 13.0844C19.924 15.8359 19.398 17.4526 18.4393 18.4124C17.4806 19.3722 15.8645 19.9001 13.113 19.9001H7.94451C5.19297 19.9001 3.57565 19.3722 2.61471 18.4124C1.65378 17.4526 1.12398 15.8359 1.12074 13.0844L1.11466 7.91579C1.11142 5.16425 1.63743 3.54757 2.5961 2.58778C3.55478 1.62799 5.17086 1.1001 7.9224 1.1001Z" stroke="white" stroke-width="2"/>
                        <path d="M15.9965 6.27707C16.6927 6.27707 17.2565 5.71263 17.2556 5.01646C17.2548 4.3203 16.6898 3.75586 15.9936 3.75586C15.2973 3.75586 14.7336 4.3203 14.7344 5.01646C14.7353 5.71263 15.3003 6.27707 15.9965 6.27707Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.16035 10.5632C5.15679 7.53768 7.54913 5.14249 10.5746 5.14249C13.474 5.14249 15.8719 7.53768 15.7494 10.5632C15.7528 13.4625 13.3605 15.8576 10.4611 15.8576C7.56173 15.8576 5.16376 13.4625 5.16035 10.5632ZM7.30338 10.5632C7.30546 12.3279 8.6939 13.8407 10.5848 13.8407C12.3497 13.8407 13.8606 12.3279 13.8585 10.5632C13.8565 8.79828 12.468 7.28546 10.5771 7.28546C8.81225 7.28546 7.30116 8.67225 7.30338 10.5632Z" fill="white"/>
                        </svg>
                        
                    </i>
                  </button>
                </div>
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                  >
                    <i nz-icon>
                      <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16389 8.88854C3.45804 7.69446 6.01892 6.69781 8.41168 5.69609C12.5282 4.05536 16.661 2.44306 20.8355 0.94203C21.6477 0.686285 23.1071 0.436211 23.2502 1.57357C23.1718 3.18355 22.8495 4.7841 22.6284 6.38465C22.0672 9.90441 21.4186 13.4121 20.7861 16.9203C20.5682 18.0889 19.0191 18.6938 18.0278 17.946C15.6457 16.4255 13.2453 14.9198 10.8936 13.364C10.1232 12.6244 10.8376 11.5621 11.5256 11.0339C13.4875 9.20681 15.5683 7.65448 17.4277 5.73295C17.9293 4.58842 16.4473 5.55299 15.9584 5.84856C13.2725 7.59763 10.6522 9.45348 7.82035 10.9907C6.37383 11.7431 4.68789 11.1001 3.24203 10.6802C1.94566 10.173 0.0459609 9.66203 1.16376 8.88869L1.16389 8.88854Z" fill="white"/>
                        </svg>                       
                    </i>
                  </button>
                </div>
                <div nz-col class="nav-icons">
                  <button
                    nz-button
                    nzType="default"
                    nzGhost
                    nzShape="circle"
                    [nzSize]="size"
                    class="icon-btn"
                    (click)="changeLang()"
                  >
                    <span [ngSwitch]="currentLanguage">
                      <div *ngSwitchCase="'uzb'">Узб</div>
                      <div *ngSwitchCase="'en'">En</div>
                      <div *ngSwitchDefault>Рус</div>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div nz-col class="nav-btn">
              <button
                nz-button
                nzType="primary"
                [nzSize]="size"
                (click)="showModalForm()"
              >
                {{'pullRequest' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div nz-col nzXs="4" nzSm="2" nzMd="0" class="text-end">
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            style="margin-right: 16px"
            nzSize="large"
          >
            <i nz-icon (click)="isCollapsed = !isCollapsed">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M5 7H19" stroke="white" stroke-linecap="round" />
                <path d="M5 12H15" stroke="white" stroke-linecap="round" />
                <path d="M5 17H11" stroke="white" stroke-linecap="round" />
              </svg>
            </i>
          </button>
        </div>
      </nav>
    </nz-header>
    <nz-content>
      <app-banner></app-banner>
      <app-chart></app-chart>
      <app-guide></app-guide>
      <app-about></app-about>
      <app-advantages></app-advantages>
      <app-safety></app-safety>
      <app-request></app-request>
      <app-faq></app-faq>
    </nz-content>
    <nz-footer>
      <div nz-row>
        <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
        <div nz-col nzXs="22" nzSm="22" nzMd="20" nzLg="18" nzXl="18">
          <div nz-row class="footer" [nzGutter]="[0, 20]">
            <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
              <a class="footer__logo">
                <svg
                  width="29"
                  height="40"
                  viewBox="0 0 29 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.4286 20C11.4286 15.2661 15.2661 11.4286 20 11.4286V14.2857C16.8441 14.2857 14.2857 16.8441 14.2857 20H11.4286Z"
                    fill="white"
                  />
                  <path
                    d="M20 5.71429C12.1102 5.71428 5.71429 12.1102 5.71428 20H8.57143C8.57143 13.6882 13.6882 8.57143 20 8.57143V5.71429Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M20 0C8.95431 -7.70685e-07 7.70685e-07 8.9543 0 20H2.85714C2.85714 10.5323 10.5323 2.85714 20 2.85714L20 0Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M17.1408 20C17.1408 24.7339 13.3033 28.5714 8.56941 28.5714L8.56941 25.7143C11.7253 25.7143 14.2837 23.1559 14.2837 20L17.1408 20Z"
                    fill="white"
                  />
                  <path
                    d="M8.5694 34.2857C16.4592 34.2857 22.8551 27.8898 22.8551 20L19.998 20C19.998 26.3118 14.8812 31.4286 8.5694 31.4286L8.5694 34.2857Z"
                    fill="#0071E3"
                  />
                  <path
                    d="M8.5694 40C19.6151 40 28.5694 31.0457 28.5694 20L25.7123 20C25.7123 29.4677 18.0371 37.1429 8.5694 37.1429L8.5694 40Z"
                    fill="#0071E3"
                  />
                </svg>
                <span>DataSignal</span>
              </a>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
              <ul nz-row [nzGutter]="[0, 8]">
                <li nz-col nzSpan="24" class="list-title list-item">
                  {{'footerMenuTitle1' | translate}}
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>{{'footerLink1' | translate}}</a>
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>{{'footerLink2' | translate}}</a>
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>{{'footerLink3' | translate}}</a>
                </li>
              </ul>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
              <ul nz-row [nzGutter]="[0, 8]">
                <li nz-col nzSpan="24" class="list-title list-item">
                  {{'footerMenuTitle2' | translate}}
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>INSTAGRAM</a>
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>FACEBOOK</a>
                </li>
                <li nz-col nzSpan="24" class="list-link list-item">
                  <a>TELEGRAM</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>



<!-- LAST MODAL -->
<nz-modal
  [(nzVisible)]="isVisibleLast"
  (nzOnCancel)="handleCancelLast()"
  (nzOnOk)="handleOkLast()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="congratulation">
          <div class="congratulation__info">
            <h4 class="congratulation__title">{{'modalLastTitle' | translate}}</h4>
            <p class="congratulation__text">
              {{'modalLastText' | translate}}
            </p>
            <button nz-button nzType="primary" nzBlock nzSize="large" (click)="handleOkLast()">
              {{'modalLastBtn' | translate}}
            </button>
          </div>
          <div class="ellipse">
            <app-ellipse [modal]="true"></app-ellipse>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- FORM MODAL -->
<nz-modal
  [(nzVisible)]="isVisibleModalForm"
  (nzOnCancel)="handleCancelModalForm()"
  (nzOnOk)="handleOkModalForm()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="modal-form">
          <form
            nz-form
            [formGroup]="modalForm"
            (ngSubmit)="submit($event)"
            nzLayout="vertical"
          >
            <h3 class="modal-form__title">
              {{'requestBlockTitleSpan' | translate}} <span>{{'requestreg' | translate}}</span>
            </h3>
            <p class="modal-form__text">
              {{'requestBlockSubTitle' | translate}}
            </p>
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <input class="modal-form__input" nz-input type="text" nzSize="large" placeholder="Ваше имя" name="username" formControlName="username" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <input class="modal-form__input" nz-input type="text" nzSize="large" placeholder="Почта" name="email" formControlName="email"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <input class="modal-form__input" nz-input type="text" nzSize="large" placeholder="Ваш номер телефона" name="phone" formControlName="phone"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <label nz-checkbox formControlName="checked"
                  ><span class="modal-form__check">{{'checked' | translate}}</span></label
                >
              </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" nzBlock nzSize="large" class="modal-form__btn">{{'sendRequest' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
