nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1200;
  padding-bottom: 40px;
}

nz-header {
  background: #313132;
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
}

nz-content {
  height: 100%;
  background: #fff;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

nz-footer {
  background: #313132;
  padding: 80px 0;
}

.logo {
  &-link {
    display: flex;
    align-items: center;
    // padding-bottom: 0;

    span {
      font-family: Manrope;
      color: #fff;
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;
      margin-left: 10px;

      @media (max-width: 992px) {
        font-size: 28px;
        line-height: 30px;
      }

      @media (max-width: 576px) {
        font-size: 18px;
        line-height: 20px;

        &.ant-btn {
          padding: 4px !important;
        }
      }
    }

    @media (max-width: 576px) {
      svg {
        width: 24px;
        height: 24px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.burger {
  padding-top: 2px;
}

.lang {
  padding-bottom: 3px;
}

.icon-btn {
  &.lang {
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding-bottom: 3px;
    }
  }
  svg {
    path {
      transition: 0.4s;
      stroke: #fff;
    }
  }

  &:hover {
    svg {
      path {
        stroke: #1890ff;
      }
    }
  }

  &:focus {
    svg {
      path {
        stroke: #1890ff;
      }
    }
  }
}

.nav {
  &-btn {
    margin-left: 40px;

    @media (max-width: 992px) {
      margin-left: 30px;
    }
  }

  &-icons {
    margin-left: 20px;

    @media (max-width: 992px) {
      margin-left: 15px;
    }
  }
}

.sider {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
  padding-bottom: 40px;

  &-top {
    height: 64px;
    overflow: hidden;
  }

  &-divider {
    background: rgba(255, 255, 255, 0.25);
    margin-top: 0;
    height: 2px;
  }

  &-logo {
    font-size: 72px;
    line-height: 79px;
    font-weight: 800;
    font-family: Manrope;
    color: #fff;
    margin-bottom: 75px;
    svg {
      width: 70px;
      height: 70px;
    }

    @media (max-width: 576px) {
      margin-bottom: 33px;
      font-size: 42px;
      line-height: 53px;

      svg {
        width: 24px;
        height: 40px;
      }
    }

    span {
      margin-left: 10px;
    }
  }

  &-link {
    font-size: 36px;
    font-family: Manrope;
    color: #fff;
    font-weight: 700;
    line-height: 40px;

    &:hover {
      color: #0071e3;
    }
  }

  &__list {
    a {
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      display: block;
      padding: 0 16px;
      font-weight: 600;
      &:hover {
        color: #0071e3;
      }

      &:active {
        color: lighten(#0071e3, 10%);
      }

      &.market {
        margin-top: 25px;
      }
    }
  }
}

.footer {
  &__logo {
    display: flex;
    align-items: center;

    span {
      font-size: 36px;
      line-height: 40px;
      font-family: Manrope;
      font-weight: 800;
      color: #fff;
      margin-left: 10px;

      @media (max-width: 768px) {
        font-size: 28px;
        line-height: 31px;
      }

      @media (max-width: 576px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }

  &__icon {
    margin-right: 40px;
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    font-family: Manrope;
    font-weight: 400;
    color: #8b8b90;
  }

  &__privacy {
    a {
      font-size: 12px;
      line-height: 15px;
      font-family: Manrope;
      font-weight: 400;
      color: #0371e2;
      margin-right: 20px;
    }
  }

  &__menu-title {
    font-size: 16px;
    line-height: 18px;
    font-family: Manrope;
    font-weight: 700;
    color: #8b8b90;
    margin-bottom: 27px;
  }

  &__menu-link {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-family: Manrope;
    font-weight: 400;
    color: #8b8b90;
    margin-bottom: 20px;
    transition: 0.3s;

    &:hover {
      color: #0371e2;
    }
  }

  &__store {
    a {
      margin-right: 30px;
    }
  }

  .list-item {
    font-size: 14px;
    line-height: 18px;
    color: #86898c;
  }

  .list-title {
    font-weight: 800;
  }

  .list-link {
    a {
      font-weight: 300;
      color: #f1f2f5;

      &:hover {
        color: darken(#f1f2f5, 10%);
      }
    }
  }

  &__reg-a {
    margin-top: 35px;
    a {
      padding: 15px 28px;
      border: 1px solid #0071e3;
      border-radius: 8px;
      color: #fff;
      transition: 0.3s;
      font-size: 14px;
      font-weight: 700;
      font-family: Manrope;

      &:hover {
        background: #0071e3;
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
}

.calculate {
  border-radius: 25px;

  .sliders {
    padding: 40px 80px;

    &__type {
      font-size: 16px;
      font-family: Manrope;
      font-weight: 500;
      color: #8b8b90;
    }
  }

  .price {
    padding: 47px 80px 80px;
    background: #0072e3;
  }

  &__btn {
  }
}

.dropdown-menu {
  background: #313132;
  border-radius: 12px;
  position: relative;
  z-index: 9999;

  li {
    &:active {
      background: #313132;
    }
  }
}

.dropdown-menu-s {
  background: #313132;
  border-radius: 12px;
  position: absolute !important;
  z-index: 9999 !important;

  li {
    &:active {
      background: #313132;
    }
  }
}
