<div class="banner">
  <div class="container banner__block">
    <div nz-row [nzGutter]="[0, 35]" nzJustify="center">
      <div nz-col nzSpan="20">
        <h1 nz-typography class="text-center banner__title">
          Как начать торговать криптовалютой на QtCoin
        </h1>
      </div>
      <div nz-col nzSpan="16">
        <p nz-typography class="text-center banner__description">
          QT Coin Exchange является ведущей в мире платформой для торговли
          цифровыми активами, платформа имеет многолетний опыт работы в сфере
          финансовых услуг цифровых активов<br />Грамотные и безопасные
          инвестиции в ваше будущее уже сегодня
        </p>
      </div>
      <div nz-col nzSpan="16">
        <div nz-row [nzGutter]="[16, 16]" nzJustify="center">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="btn-text btn-pos">
            <button class="banner__btn primary">Расчитать доходность</button>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="btn-pos">
            <button class="banner__btn default">Начните зарабатывать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
