.request {
    background: url(../../../assets/images/guide-bg.jpg);
    padding: 120px 0;

    &__title {
        font-size: 64px;
        line-height: 70px;
        font-family: Manrope;
        font-weight: 800;
        color: #fff;

        span {
            color: #0371E2;
        }
    }

    &__subtitle {
        font-size: 28px;
        line-height: 28px;
        color: #fff;
        font-family: Manrope;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .form {
        input {
            border-radius: 8px;
        }

        &__label {
            span {
                font-size: 12px;
                font-family: Manrope;
                font-weight: 400;
                color: #fff;
                margin-left: 5px;
            }
        }
    }
}