<div class="request">
  <div nz-row>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
    <div nz-col nzXs="22" nzSm="22" nzMd="20" nzLg="18" nzXl="18">
      <div nz-row>
        <div nz-col nzSpan="24">
          <h2 class="request__title">
            <span>{{'requestBlockTitleSpan' | translate}}</span> {{'requestreg' | translate}}
          </h2>
        </div>
        <div nz-col nzSpan="24">
          <h5 nz-typography class="request__subtitle">
            {{'requestBlockSubTitle' | translate}}
          </h5>
          <form
            nz-form
            class="form"
            [formGroup]="requestForm"
            (ngSubmit)="submitForm($event)"
          >
            <div nz-row [nzGutter]="[30, 0]">
              <div nz-col [nzXs]="{span: 24, order: 1}" [nzLg]="{span: 6, order: 1}" nzXl="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24">
                    <input
                      nz-input
                      type="text"
                      nzSize="large"
                      [placeholder]="'inpYourName' | translate"
                      formControlName="username"
                      name="username"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="{span: 24, order: 2}" [nzLg]="{span: 6, order: 2}" nzXl="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24">
                    <input
                      nz-input
                      type="email"
                      nzSize="large"
                      [placeholder]="'inpYourEmail' | translate"
                      formControlName="email"
                      name="email"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="{span: 24, order: 3}" [nzLg]="{span: 6, order: 3}" nzXl="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24">
                    <input
                      nz-input
                      type="number"
                      nzSize="large"
                      [placeholder]="'inpYourPhone' | translate"
                      formControlName="phone"
                      name="phone"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="{span: 24, order: 5}" [nzLg]="{span: 6, order: 4}" nzXl="6">
                <button class="request__btn">{{'sendRequest' | translate}}</button>
              </div>
              <div nz-col [nzXs]="{span: 24, order: 4}" [nzLg]="{span: 24, order: 5}">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24">
                    <nz-form-label class="form__label">
                      <input nz-input type="checkbox" [checked]="true" /><span
                        >{{'checked' | translate}}</span
                      ></nz-form-label
                    >
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div nz-col nzXs="1" nzSm="1" nzMd="2" nzLg="3" nzXl="3"></div>
  </div>
</div>

<!-- LAST MODAL -->
<nz-modal
  [(nzVisible)]="isVisibleLast"
  (nzOnCancel)="handleCancelLast()"
  (nzOnOk)="handleOkLast()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="congratulation">
          <div class="congratulation__info">
            <h4 class="congratulation__title">{{'modalLastTitle' | translate}}</h4>
            <p class="congratulation__text">
              {{'modalLastText' | translate}}
            </p>
            <button nz-button nzType="primary" nzBlock nzSize="large" (click)="handleOkLast()">
              {{'modalLastBtn' | translate}}
            </button>
          </div>
          <div class="ellipse">
            <app-ellipse [modal]="true"></app-ellipse>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>


